#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
html body {
  height: 100%;
}
main {
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 2rem;
}
button.btn {
  background-color: #ff5a5f;
  color: white;
  border-color: black;
  width: 55%;
}
button.btn:hover {
  background-color: #087e8b;
  color: white;
}

.card img {
  margin-top: 1rem;
}
.card-title {
  font-size: 1.4rem;
  margin: 1rem;
}
.card-text {
  font-size: 1.3rem;
  padding: 0.5rem;
}

.heading {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

form {
  padding-left: 2rem;
  padding-right: 2rem;
}

form a {
  color: #ff5a5f;
}

.table th {
  font-size: 1.2rem;
  text-align: left;
}
.table .updateButton {
  color: green;
}
.table .addButton {
  background-color: green;
  color: white;
  border-radius: 0.2rem;
  width: 100%;
}

.table tr {
  text-align: left;
}

.table button {
  color: #ff5a5f;
  border-style: none;
  background-color: white;
}

.data input {
  border-style: none;
}
.bottom-container {
  margin-bottom: 5rem;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 800px) {
  .table,
  .table thead,
  .table tbody,
  .table th,
  .table td,
  .table tr {
    display: block;
    width: 100%;
  }

  .table thead {
    display: none;
  }

  .table tr {
    margin-bottom: 10px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
  }
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}
